@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&family=Source+Serif+Pro&family=Tenor+Sans&display=swap');

/* COPY AND PASTE TO ADD FONT FAMILIES :)
font-family: 'Libre Franklin', sans-serif;
font-family: 'Source Serif Pro', serif;
font-family: 'Tenor Sans', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin:4vh;
    border: 5px solid black;
}

.hero-image-container{
    width: 60vw;
    border: 5px solid black;
}


.hero-text-container{
    position: relative;
    flex-direction: column;
    width: 40vw;
    margin-left: 5vw;
    margin-right: 5vw;
}


/* Navigation */

.navigation-container {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    padding: 20px;
}

.navigation {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    display: grid;
}

#noiceland-logo {
    width: 200px;
    height: 25px;
}

.nav-links {
    align-items: end;
}


/* Footer */

.footerLogo {
    margin-right: 15px;
    margin-bottom: 2px;
    max-width: 100%;
    display: inline-block;
}

.footer-copyright {
    font-family: 'Libre Franklin', sans-serif;
    color: #666;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer {
    display: flex;
    padding: 90px 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #141414;
}

.container-footer {
    width: 100%;
    max-width: 1200px;
}


/* Headings */

h4 {
    font-family: 'Libre Franklin', sans-serif;
    color: #fff;
}


/* Posts */

.post{
    position: relative;
    height: 30vw;
    width: 30%;
    
    margin: 1vw;
}

.post.larger{
    width: 41vw;
}

.post-info{
    position: relative;
    margin-top: 1vh;
    
}

.post-image{
    height: 50%;
    border: 5px solid black;
}

.top-posts, .latest-posts, .featured-posts{
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
   
}

.post-container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90vw;
    border: 5px solid black;
    height: fit-content;
    justify-content: center;
    align-items:start;
}
