@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&family=Source+Serif+Pro&family=Tenor+Sans&display=swap');

/* COPY AND PASTE TO ADD FONT FAMILIES :)
font-family: 'Libre Franklin', sans-serif;
font-family: 'Source Serif Pro', serif;
font-family: 'Tenor Sans', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin:4vh;
    
}

.hero-image-container{
    width: 60vw;
    
}


.hero-text-container{
    position: relative;
    flex-direction: column;
    width: 40vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.top-posts, .latest-posts, .featured-posts{
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
   
}

.post-container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90vw;
  
    height: fit-content;
    justify-content: center;
    align-items:start;
}

.post{
    position: relative;
    height: 30vw;
    width: 30%;
    
    margin: 1vw;
}

.post.larger{
    width: 41vw;
}

.post-info{
    position: relative;
    margin-top: 1vh;
    
}

.catergory-title{
    font-family: 'Libre Franklin', sans-serif;
    color: #666;
    text-transform: uppercase;
    font-size: 10px;

}

.post-title{
    font-family: 'Tenor Sans', sans-serif;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 20px;

}
.post-title.top{
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
}
.post-text{
    font-family: 'Source Serif Pro', serif;
    color: #666;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.author-title{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 30px;
}

.post-image{
    height: 50%;
   
}

.footer {
    display: flex;
    padding: 90px 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #141414;
}

.container-footer {
    width: 100%;
    max-width: 1200px;
}

h4 {
    font-family: 'Libre Franklin', sans-serif;
    color: #fff;
}

.footerLogo {
    margin-right: 15px;
    margin-bottom: 2px;
    max-width: 100%;
    display: inline-block;
}

.footer-copyright {
    font-family: 'Libre Franklin', sans-serif;
    color: #666;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}


/* ------ RESPONSIVENESS ------  */
/* PHONE */
@media screen and (max-width: 320px) {

    .post{
        position: relative;
        height: 30vw;
        width: 100%;
        
        margin: 1vw;
    }

    .post.larger{
        width: 100%;
    }
    

}

/* TABLET */
@media screen and (max-width: 768px) {
    .top{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin:4vh;
      
    }
    
    .hero-image-container{
        width: 100%;
       
    }
    .post{
        position: relative;
        height: 30vw;
        width: 100%;
        
        margin: 1vw;
    }

    .post.larger{
        width: 100%;
    }
    .hero-text-container{
        width: 100%;
        
        margin: 0;
    }
    

}

/* LAPTOP */
@media screen and (min-width: 1024px) {

}

