@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&family=Source+Serif+Pro&family=Tenor+Sans&display=swap');

/* COPY AND PASTE TO ADD FONT FAMILIES :)
font-family: 'Libre Franklin', sans-serif;
font-family: 'Source Serif Pro', serif;
font-family: 'Tenor Sans', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin:4vh;
    
}

.hero-image-container{
    width: 60vw;
    
}


.hero-text-container{
    position: relative;
    flex-direction: column;
    width: 40vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

img{
    position: relative;
    width: 100%;
}

/* Navigation */

.navigation-container {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
}

#noiceland-logo {
    width: 200px;
    height: 25px;
}

.nav-links {
    justify-content: space-between;
    display: flex;
    width: 20vw;
    height: 5vh;
    margin-top: 10px;
    font-family: 'Libre Franklin', sans-serif;
    text-decoration: none;
    color: black;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: black;
}


.link:hover {
    border-bottom: 5px solid black;
    transition: all 0.5s ease;
}

/* Footer */

.footer {
    display: flex;
    padding: 90px 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #141414;
}

.container-footer {
    width: 100%;
    max-width: 1200px;
}

.top-section {
    display: flex;
    align-items: flex-end;
}

.footerLogo {
    margin-right: 15px;
    max-width: 100%;
    display: inline-block;
}

.footer-copyright {
    font-family: 'Libre Franklin', sans-serif;
    color: #666;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.footer-seperator-line {
    margin: 60px 0 60px 0;
}

.seperator {
    background-color: #666;
    height: 1px;
    max-width: 1290px;
}

.bottom-section {
    width: 100%;
}

.bottom-1, .bottom-2 {
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
}

.bottom-2 {
    margin-top: 75px;
}

.footer-title-text {
    font-family: 'Libre Franklin', sans-serif;
    color: #666;
    font-size: 10px;
    line-height: 12px;
    text-align: left;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer-categories-list {
    display: flex;
    flex-wrap: wrap;
}

.footer-text {
    font-family: 'Libre Franklin', sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin-right: 75px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer-text:hover {
    cursor: pointer;
}

.column {
    margin-right: 200px;
}

.email-text-field {
    height: 48px;
    margin-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Libre Franklin', sans-serif;
    color: #999;
    font-size: 14px;
    line-height: 24px;
}

.submit-button {
    width: 100px;
    height: 48px;
    background-color: #000;
    font-family: 'Libre Franklin', sans-serif;
    color: #fff;
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
}

.submit-button:hover {
    cursor: pointer;
}

/* Headings */

h4 {
    font-family: 'Libre Franklin', sans-serif;
    color: #fff;
}


/* Posts */

.post-container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90vw;
  
    height: fit-content;
    justify-content: center;
    align-items:start;
}

.post{
    position: relative;
    height: 400px;
    width: 30%;
    
    margin: 1vw;
}

.post.larger{
    width: 41vw;
}

.post-info{
    position: relative;
    margin-top: 1vh;
    
}

.catergory-title{
    font-family: 'Libre Franklin', sans-serif;
    color: #666;
    text-transform: uppercase;
    font-size: 10px;

}

.post-title{
    font-family: 'Tenor Sans', sans-serif;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 20px;

}
.post-title.top{
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
}
.post-text{
    font-family: 'Source Serif Pro', serif;
    color: #666;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.author-title{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 30px;
}

.post-image{
    height: 50%;
   
}

.top-posts, .latest-posts, .featured-posts{
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
   
}

/* ------ RESPONSIVENESS ------  */
/* PHONE */
@media screen and (max-width: 320px) {

    .post{
        position: relative;
        height: 30vw;
        width: 100%;
        
        margin: 1vw;
    }

    .post.larger{
        width: 100%;
    }
    

}

/* TABLET */
@media screen and (max-width: 768px) {
    .top{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin:4vh;
      
    }
    
    .hero-image-container{
        width: 100%;
       
    }
    .post{
        position: relative;
        height: 30vw;
        width: 100%;
        
        margin: 1vw;
    }

    .post.larger{
        width: 100%;
    }
    .hero-text-container{
        width: 100%;
        
        margin: 0;
    }
    

}

/* LAPTOP */
@media screen and (min-width: 1024px) {

}